* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: teal;
    position: relative;
}

nav {
    background-color: rgb(214, 214, 214);
}

h1 {
    padding: 10px;
    text-align: center;
    font-size: 36px;
}

.container {
    width: fit-content;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
}

.container > div {
    background-color: white;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 150px;
}

.container > div:hover {
    background-color: rgb(214, 214, 214);
}

.result-div {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.623);
    z-index: 1;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.result-text {
    background-color: rgb(214, 214, 214);
    font-size: 32px;
    font-weight: bold;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid black;
}

.restart-btn {
    font-size: 32px;
    font-weight: bold;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: rgb(214, 214, 214);
}

.restart-btn:hover {
    background-color: rgb(170, 170, 170);
}